body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	font-size: 2rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar {
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar li {
	display: inline;
	padding: 8px;
	text-decoration: none;
}

.navbar button, .navbar button:visited {
	background: none;
	border: none;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 40px;
}

.navbar button:hover {
	color: blue;
}

.navbar button.active {
    text-decoration: underline;
    font-weight: bold;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.banner {
	display: block;
	margin: auto;
	width: 65%;
	image-rendering: pixelated;
}

.border {
    border-style: solid;
	border-width: 1px;
    display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 30px;
}

.pop {
	margin: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 0 15px 0px white;
	border-radius: 25px;
	border: solid;
}

.footer {
	text-align: center;
}

.footer img {
	width: 50px;
	padding: 15px;
}

.footer a {
	text-decoration: none;
}