body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 2rem;
}

.navbar {
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar li {
	display: inline;
	padding: 8px;
	font-size: xx-large;
	text-decoration: none;
}

.navbar a, .navbar a:visited {
	color: white;
	text-decoration: none;
}

.navbar a:hover {
	color: blue;
}

.navbar a.active {
    text-decoration: underline;
    font-weight: bold;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	image-rendering: pixelated;
}

.border {
	border-style: solid;
	padding: 10px;
}